@import 'vendor/vendor/fontawesome-free/css/all.min.css';
body{
	visibility: hidden;
    background: url('../../images/loading.gif') 50% 0 no-repeat;
}



.cargar{
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../../images/banner1.jpg') 50% 50% no-repeat rgba(6, 2, 7,0.8);
  opacity: .95;
}

.small{
  font-size:12px !important;
  font-weight: bold !important;
}



/*Estilos dentro del frame*/

.textoform{
  /*color:red !important;*/
  font-size: 12px !important;
}